@{
    ViewData["Title"] = "Home Page";
}

<img class="front-banner" src="~/images/blocksMallarHome.jpg" />

<div class="text-center my-3">
    <h1 class="display-4">Välkommen till MallarAvEmelie</h1>

    <p>Vi skapar roliga och pedagogiska mallar som gör lärande enkelt och lekfullt för barn. 
        Här hittar du spel, övningar och kreativa aktiviteter som stärker språk, logik och fantasi – samtidigt som barnen har roligt!</p>
    
</div>
<div class="quotes-container">
    <div class="quote-box">
        <p class="quote-text"><i class="fa-solid fa-quote-left"></i> “Lekfulla mallar för barns utveckling – en kreativ väg till lärande.”</p>
        <p class="quote-sub">Att skapa, måla och leka gör varje dag till ett nytt äventyr. <i class="fa-solid fa-quote-right"></i></p>

    </div>
    <div class="quote-box">
        <p class="quote-text"> <i class="fa-solid fa-quote-left"></i> “Lärande blir roligt – skapa, lek och upptäck med våra mallar!”</p>
        <p class="quote-sub">Genom fantasi och nyfikenhet växer både kunskap och glädje. <i class="fa-solid fa-quote-right"></i></p>
    </div>
</div>

<div class="arrow-container">
    <a href="#" class="back-to-top" title="Back to top">
        <i class="fa-solid fa-arrow-up"></i>
    </a>
</div>