@*
*@
@{
	ViewData["Title"] = "Sök order (Admin)";
}


@if (TempData["Error"] != null)
{
	<div class="alert alert-danger text-center">
		@TempData["Error"]
	</div>
}

<div class="container my-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Adminvy: Sök order</h2>
        <p class="text-muted">
            Här kan du som administratör söka upp en order via dess ID och redigera information.
        </p>
    </div>

    <div class="card search-card shadow-lg mx-auto">
        <div class="card-body p-4">
            <form asp-action="SearchOrder" method="post" class="d-flex flex-column gap-3">
                <div>
                    <label for="orderId" class="form-label fw-semibold">Order ID</label>
                    <input type="search" id="orderId" name="orderId" class="form-control" required placeholder="Ange order id" />
                </div>
                <button class="btn btn-primary w-100 my-4">
                    Sök order
                </button>
            </form>
        </div>
    </div>
</div>