<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MallarByEmelie</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

   
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MallarEmelieMVC.styles.css" asp-append-version="true" />
</head>
<body class="site-body">
    <header>
        <nav class="navbar navbar-expand navbar-toggleable-sm navbar-light navbar-custom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MallarAvEmelie</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list" style="font-size: 1.7rem; color: white;"></i>
                </button>
                <div class="navbar-collapse collapse justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Hem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Template" asp-action="ViewTemplate">Visa mallar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Order" asp-action="ViewOrders">Mina ordrar</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="CreateTemplate">Skapa mall</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="SearchOrder">Sök order</a>
                            </li>
                        }
                        
                    </ul>

                    <!-- CartIcon -->
                    <a asp-area="" asp-controller="Cart" asp-action="ViewCart" class="position-relative me-3 text-dark cart-icon-link">
                        
                        <i class="bi bi-cart cart-icon"></i>
                        
                    </a>

                    @* Identity prof pic login/logout etc *@
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="site-wrapper">
        <div class="container">
            <main role="main" class="pb-3 pt-5">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">

        <div class="footer-navBar">
            <a asp-action="Index" asp-area="" asp-controller="Home">Hem</a>
            <a asp-action="ViewTemplate" asp-area="" asp-controller="Template">Visa mallar</a>
            <a asp-action="ViewOrders" asp-area="" asp-controller="Order">Visa ordrar</a>
        </div>

        <div class="footer-profile">
            <p><partial name="_LoginPartial" /></p>
        </div>

        <div class="footer-socials">
            <p>
                Hemsida skapad av <a href="https://www.linkedin.com/in/andreas-sj%C3%B6lander-12b661323/" target="_blank">Andreas</a>  <a href="https://github.com/skolden1" target="_blank">
                    <i class="fa-brands fa-github"></i>
                </a>
            </p>
        </div>

        <div class="container">
            &copy; 2025 - MallarAvEmelie - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
